// Ширина контейнера
$maxWidth: 1920;
$maxWidthContainer: 1202;
$tabletWidth: 1023.9;
$minTabletWidth: 768;
$mobileWidth: 767.9;
$minMobileWidth: 360;

// Цвета

$black: #100f0f;
$grey: #a1a1a1;
$grey_light: #dedede;
$yellow: #ffda00;
$yellow_light: #ffe54a;
$yellow_dark: #ffc700;
$red: #e4002b;
$white: #ffffff;

// Шрифты
$fontFamily: 'Roboto', 'Helvetica', sans-serif;